<div class="container" style="padding: 50px">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a class="btn btn-primary" href="/make_selection">Selection</a>
        </div>
        {{#if show_admin}}
        <div class="col d-flex justify-content-center">
            <a class="btn btn-primary" href="/students">Admin space</a> 
        </div>
        {{/if}}
    </div>
</div>
