{{!-- Auf dieser Seite sollen die Kurse ausgewählt werden --}}
<h1>Kursauswahl:</h1>
<div class="container">
<form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Aufgabenfeld I</th>
        <th scope="col">Wochenstundzahl</th>
        <th scope="col">Wahl</th>
    </tr>
    </thead>
    <tbody>
    {{#each selectables}}
        <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.h}}</td>
            <td><input class="form-check-input" type="checkbox" value="" id="{{this.id}}"></td>
        </tr>
    {{/each}}                                                       
    </tbody>
</table>
<input type="button" class="btn btn-primary" value="Submit">
</form>
</div>